body{
    margin: 0;
    padding: 0;
}

/* header */
header{
    background-color: rgb(78, 104, 143);
    border-bottom: 10px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-family: sans-serif;
    font-weight: 500px;
    font-size: 30px;
}


/* isi page */
section {
    text-align: center;
}
#openingWord h2{
    font-family: sans-serif;
    font-weight: 300px;
    font-size: 20px;
}

/* .clickButton */
.clickButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.clickButtons img{
    width: auto;
    height: 160px;   
}
.clickButtons button{
    box-shadow: 3px 3px 6px #918282;
    margin: 20px;
    border: 3px solid black;
    shape-margin: 5px;
    border-radius: 5%;
}

/* score */
#score {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h3 {
    margin: 0px 50px;
    font-family: sans-serif;
    font-weight: 100px;
    font-size: 15px;
    font-family: sans-serif;
    border: 1px solid black;
    box-shadow: 2px 2px 5px #918282;
    border-radius: 7%;
    padding: 5px 40px;
}

/* restart */
button{
    margin-top: 15px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px #918282;
    border-radius: 3%;
}
h4{
    font-family: sans-serif;
    font-weight: 50px;
    margin: 3px;
}

/* result */
.resultText{
    display: none;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}
#round img{
    width: auto;
    height: 160px;
    border: 1px solid black;
    border-radius: 3%;
    margin-bottom: 15px;
}
#round h4{
    font-family: sans-serif;
    font-weight: 400px;
    font-size: 25px;
    margin-bottom: 0.5px;
}
#round h5{
    font-family: sans-serif;
    font-weight: 600px;
    font-size: 35px;
    margin: 5px
}
#round p{
    font-family: sans-serif;
    font-weight: 100px;
    font-size: 15px;
    margin: 1px auto;
}
#round{
    background: rgb(78, 104, 143);
    border: 5px solid black;
    box-shadow: 2px 2px 5px #918282;
    text-align: center;
    margin: 10% auto;
    width: 350px;
    border-radius: 10%;
    padding: 3px;
    animation-name: roundresult;
    animation-duration: 0.5s;
}

@keyframes roundresult{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


